# Files and directories to exclude from the Docker image
# Do not copy these files to the Docker image
node_modules
npm-debug.log
.git
.gitignore
README.md
test-api.js
add-on
script.js
script-add-word.js
.env
*.md
