version: '3.8'

services:
  api:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./dictionary:/app/dictionary
    restart: unless-stopped
    environment:
      - NODE_ENV=production
